<!DOCTYPE html>
<html lang="en">

<title> Gathering Steam - {{game}} </title>



  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/gaming.ico">

    <title>Health of {{ game }} over time</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--link href="../static/css/starter-template.css" rel="stylesheet"-->

    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc10"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<style>

  body {
    background-color: #333;
  }

div {
    background-color: #333;
  }


p {
  line-height: 0.7;
}


.button {
 background-color: #FABB3B; /* Green */
 color: #27291C;
 padding: 12px 24px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 18px;
 margin: 4px 2px;
 cursor: pointer;
 text-shadow:none;
}



</style>


<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        </div>
            <a class="button" href='/' role = 'button'> Home </a>
            <a class="button" href='/GatheringSteam' role='button'> Other Games </a>
        </div>
    </nav>
</header>

  <body>



<br><br>


    <div class="container" style="font-family:Helvetica Neue">

        <h1>
            <font color="white" size = '10'>
                <i>Gathering <font color="#FABB3B">Steam </i></br>
                     <font color="white" size = '6'> {{game}}

                <img class="game_image" src='{{game_pic}}' style="height:140px;" align = 'right'>
        </h1>

        <p class="lead">
            <i> Providing Game Developers an Early Alert to Drops in Ratings & Avenues of Intervention </i>
            <!-- Topics Related to Anomalous Changes in {{game}} Game Reviews via Sentiment Analysis -->
        </p>

        <body>
          <div id="vis"></div>

          <script>
            const spec = "{{plot}}";
            var opt = {"width": 800, "height:":800, 'theme': 'dark', 'config':{'background': '#333', 'line': {'color': 'white'}}}
          	vegaEmbed('#vis', spec, opt)
            	// result.view provides access to the Vega View API
              .then(result => console.log(result))
              .catch(console.warn);
          </script>
        </body>

        <p> <font color="white" size = '3'>
            In the plot above, the white line shows a moving average of {{game}}'s review ratings over time. The red and blue points are days in which my model has predicted {{game}}'s review ratings to significantly drop or rise, respectively. By hovering over these points, game developers are provided topics to address that reflect these predicted changes. Additionally, the most extreme negative or positive review from that day is displayed.
        </p>

    <!--    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- <script src="static/js/bootstrap.min.js"></script>

<script src="static/js/bootstrap.min.js"></script>                     -->

  </body>
</html>
